.skills {
  text-align: center;
  padding: 40px;
  background: #333;
}
.skills h2 {
  color: #0ff;
}
.skills ul {
  list-style: none;
}
.skills li {
  padding: 5px;
  transition: 0.3s;
}
.skills li:hover {
  color: #f0f;
  text-shadow: 0 0 10px #f0f;
}

